.header {
    height: 4rem;
    flex: 0 0 auto;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    padding-right: 1rem;
    justify-content: space-between;
}

.logoWrapper {
    height: 46px;

    img {
        height: 100%;
    }
}

.headerNav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profileButton {
    background: none;
    color: var(--clr-cta);
    font-size: 28px;
}

.profileButton:hover {
    background: none;
    color: var(--clr-cta-hover);
}

.projectName {
    font-size: 20px;
}

.faCaretLeft {
    vertical-align: -0.2em;
}

@media screen and (min-width: 616px) {
    .header {
        padding-right: 2rem;
    }
}
