.columnBody {
  width: 300px;
  min-height: 600px;
  padding: 0.2rem;
  background-color: var(--bg-secondary);
  border-radius: 0 0 5px 5px;
}

.columnHeader {
  background: #b9b4fe;
  padding: 1.25rem 0 1.5rem 1rem;
  border-radius: 16px 16px 0 0 ;
}

.columnTitle {
  color: var(--clr-primary);
  text-transform: uppercase;
}
