.projectList {
    margin-top: 2rem;
    margin-bottom: 4rem;
    text-align:left;
}

.projectName {
    display: inline;
}

.caretRight {
    display:inline;
}

.newProjectForm {
    input[type=text],
    button[type=submit] {
        display: block;
        width: 240px;
    }

    input[type=text] {
        margin-bottom: 0.25rem;
    }
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}