.main {
  padding-top: 2rem;
  align-items: stretch;
  justify-content: left;
}

.aside {
  width: 320px;
  margin-right: 1rem;
  padding: 1rem;
  background-color: var(--bg-primary);
  border-right: 1px solid var(--clr-tertiary);
  border-top-right-radius: 16px;
}

.projectName {
  font-size: 20px;
}

.faCaretLeft {
  vertical-align: -0.2em;
}

.columnContainer {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  flex-wrap: wrap;
}

.addColumnForm {
  align-self: center;
}

.addColumnButton {
  background-color: var(--bg-secondary);
  border: none;
  color: var(--clr-cta);
  font-size: 18px;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
}

.addColumnButton:hover {
  background-color: var(--clr-cta-hover);
  color: var(--bg-primary);
}

.spinning {
   animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}